@font-face {
    font-family: 'Nabla';
    src: url('fonts/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{box-sizing: border-box;}

body {
    font-family: 'Roboto', Arial, 'Nabla';
    background-color: black;
    color: #B7B7B7;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-content: start;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 1rem;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: end;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 1rem;
    font-size: 14px;
}

header nav ul li:last-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

a {
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 13px;
}

header nav ul li:last-of-type a:first-child {
    text-decoration: none;
    color:inherit;
    background-color: rgba(255, 255, 255, 0.08);
}

a.red {
    text-decoration: none;
    color:white;
    background-color: #E15A46;
}

h1.red {
    color:#E15A46;
    font-size: 30px;
}

header nav ul li:last-of-type a:first-child:hover {background-color: rgba(255, 255, 255, 0.1);}
header nav ul li:last-of-type a:first-child:active {background-color: rgba(255, 255, 255, 0.14);}
a.red:hover {background-color: #CC4734;}
a.red:active {background-color: #C13D2A;}

main {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    padding: 1rem;
    gap: 2rem;
    margin: 0;
}


main div#title h1,main div#title p {
    text-align: center;
    margin: 0;
}

main div#title p {
    font-size: 17px;
    max-width: 730px;
    margin-top: 0.5rem;
}

article {
    display: flex;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    max-width: 1240px;
    max-height: 180px;
    padding: 1rem 1rem 0 1rem;
    gap: 1rem;
    color: white;
    margin: 0 auto;
}

article p#logo {font-family: 'Arial','Roboto';font-style: italic;font-weight: bold;font-size: 2.5rem;display: flex;flex-direction: row;align-items:baseline;gap: 6px;}
article span.red {background-color:#E15A46;width: 4px;height: 32px;}

article div#article {
    background-color:#232323;
    color:#E1E1E1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0 1rem 0 1rem;
}

article div#article p:last-of-type{
    line-height: 22px;
    margin-top: 0;
}

article div#article p:first-of-type {
    line-height: 22px;
    margin-bottom: 0;
}

.text-bold {font-weight:bold;}
.red-text {background-color:#E15A46;color: transparent;width: 2px;height: 22px;}

article section {
    background-color: #555555;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1rem;
    max-width: 370px;
    width: auto;
    margin: 0 auto;
    font-size: 14px;
}

article section dl {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 10px;
}

article section dl:last-of-type {
    padding: 1rem 0 0 0;
    margin-bottom: 0;
}

dl {
    width:100%;
    margin: 0;
}

hr {
    border: none;
    background-color: rgb(255, 255, 255, 0.14);
    width: 1px;
    height: 100%;
    margin: 0;
    align-self: center;
}

hr#separator {
    background-color: rgb(255, 255, 255, 0.14);
    height: 1px;
    width: 100%;
}

dl div {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 0 1rem;
}

dt,dd {
    text-align: center;
    margin: 0;
}

article div.last {
    display: flex;
    align-items:start;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: start;
}

article div a {
    text-decoration: none;
    color:white;
    background-color: #E15A46;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: medium;
}

article div a:hover {background-color: #CC4734;}
article div a:active {background-color: #C13D2A;}

article div p.last{
    color:#B7B7B7;
    font-size: 14px;
}

div#textarea {
    flex: 2;
    width: 100%;
    position: relative;
    display: block;
    max-height: 200px;
}

textarea {
    width: 100%;
    appearance: none;
    border: none;
    border-radius: 8px;
    padding: 1rem 3.5rem 1rem 1rem;
    background-color: rgba(255, 255, 255, 0.14);
    font-size: 16px;
    font-family: 'Roboto', Arial, cursive;
    resize: none;
    line-height: 22px;
    color: #E1E1E1;
    min-height: 200px;
    z-index: 1;
}

div#textarea button:first-of-type {
    position: absolute;
    top: 0.4rem;
    right: 1rem;
    background-color: transparent;
    border-radius: 4px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    z-index: 2;
}

div#textarea button:last-of-type {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: transparent;
    border-radius: 4px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    z-index: 2;
}

div#textarea button:hover {background-color: rgba(255, 255, 255, 0.14);}
div#textarea img#star {
    width: 1rem;
    height: 1rem;
    user-drag:none;
    -webkit-user-drag: none;
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    z-index: 2;
}

main div.container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

main div.container div#container-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

main div section#stats {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255, 0.14);
    border-radius: 8px;
    padding: 1rem;

}

main div section#stats dl div {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    max-width: 145px;
}

main div section#stats dl div dt {
    font-size: 24px;
}

main div section#stats dl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid rgb(255, 255, 255, 0.14);
    padding-bottom: 1rem;
    padding-top: 1rem;
}

main div section#stats dl#last {
    display: flex;
    justify-content: center;
    border-bottom: none;
}

main section#keywords {
    border: 1px solid rgb(255, 255, 255, 0.14);
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 304px;
}

main section#keywords h2 {
    margin: 0 0 2rem 0;
}

main section#keywords div {
    display: flex;
    height: 100%;
    align-items: center;
}

main section#keywords div p {
    text-align: center;
}

@media (max-width: 1129px) {
    header nav ul {justify-content: space-around;}
    article {display:none;}
}

@media (max-width:768px) {
    header nav ul {justify-content: space-between}
    main div.container {
        flex-direction: column;
    }
}
